body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;

  
  background: url('https://static.vecteezy.com/system/resources/previews/003/098/572/non_2x/stadium-football-background-at-night-free-vector.jpg')
              no-repeat center center;
  background-size: cover;  
}

.heading {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.team-logo {
  width: 220px;
  height: 220px;
  margin: 0 20px;
}

.team-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.match {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}
