.cash-card {
  background: linear-gradient(to bottom, #f32e26, #fc5928);
  padding: 30px;
  width: 350px;
  border-radius: 20px;
  color: #ffffff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  background-color: #ffffff;
  color: #7c3aed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.name {
  font-size: 18px;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.balance-label {
  background-color: #3bbf52;
  padding: 5px 10px;
  border-radius: 20px;
}

.balance-amount {
  font-size: 24px;
  font-weight: bold;
}

.withdraw-title {
  margin-top: 20px;
}

.choose-text {
  color: #d4d2db;
  font-size: 12px;
}

.denominations-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
