.app-bg {
  background-color: #dfe3e8;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
.banner-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0;
  margin: 0;
}
