.container {
  text-align: center;
  color: white;
}

.heading {
  font-size: 42px;
  font-weight: 700;
  color: #facc15; 
  margin-bottom: 20px;
}


.thanks {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
}

.subscribe-btn {
  background-color: white;
  color: black;
  border: 2px solid #000;
  padding: 12px 28px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.subscribe-btn:hover {
  transform: scale(1.05);
}
