body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://t3.ftcdn.net/jpg/02/16/18/84/360_F_216188456_IOB0qZy0WUH661jeRQoaaIHSjLHy9x4H.jpg")
    no-repeat center center/cover;
}

.card {
  background: rgba(230, 249, 255, 0.9);
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin: 15px 0 5px;
  font-size: 20px;
  font-weight: bold;
}

.address {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  margin-top: 10px;
}
