.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-corporate-company-promotion-ppt-background-poster-image_260405.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Sans Serif";
}
