.todo-card {
  background-color: #ffd7af;
  width: 90%;
  max-width: 800px;
  border-radius: 12px;
  padding: 30px;
}

.heading {
  text-align: center;
  color: #379ee7;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: Roboto;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}
