.card {
  text-align: center;
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  width: min(450px, 90%);
}

.title {
  font-size: 22px;
  color: #2b70e0;
  margin: 0;
  font-weight: bold;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin: 10px 0 20px 0;
}

.btn {
  padding: 8px 20px;
  background-color: #2b70e0;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;

  box-shadow: 0px 6px 12px rgba(43, 112, 224, 0.25);
}

.random-output {
  font-size: 48px;
  color: #2b70e0;
  margin: 0;
  font-weight: bold;
}
